* {
 	box-sizing: border-box;
 	margin: 0;
 	padding: 0;
}

body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
 	background-color: #ffffff;
 	color: #494949;
 	line-height: 1.6;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	min-height: 100vh;
}

.resume {
 	background-color: #ffffff;
 	border-radius: 16px;
 	box-shadow: 0 8px 24px rgba(0,0,0,0.1);
 	max-width: 800px;
 	padding: 24px;
 	margin: 20px;
}

.header {
	text-align: center;
  	padding: 20px;
  	border-radius: 12px;
  	margin-bottom: 20px;
}

.header a {
	border-radius: 18px;
	transition: transform 0.3s;
}

.header a:hover {
 	box-shadow: 0 4px 12px rgba(0,0,0,0.1);
	transform: scale(1.05);
}

.profile img {
	float: left;
	padding: 12px;
	width: 30%;
	height: 30%;
	margin-top: 35px;
}

.bio {
 	text-align: left;
 	padding: 12px;
}

.bio h2 {
	color: #707070;
	margin-bottom: 10px;
}

.questions {
  	margin-top: 20px;
}

.video-block {
  	margin-bottom: 24px;
}

.video-block h3 {
  	color: #707070;
  	margin-bottom: 8px;
  	text-align: center;
}

.video-block figcaption {
  	margin-top: 8px;
  	font-size: 18px;
  	color: #707070;
	text-align: center;
}

video {
  	display: block;
  	width: 100%;
  	max-width: 640px;
  	margin: 0 auto;
  	border-radius: 10px;
  	box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}

.photos {
  	display: flex;
  	flex-wrap: wrap;
  	gap: 20px;
  	justify-content: center;
  	margin: 20px 0;
}

.photo {
 	text-align: center;
 	flex: 1 1 200px;
}

.photo img {
 	width: 100%;
	height: 75%;
 	max-width: 220px;
 	border-radius: 12px;
 	box-shadow: 0 4px 12px rgba(0,0,0,0.1);
 	transition: transform 0.3s;
}

.photo img:hover {
  	transform: scale(1.05);
}

.photo figcaption {
  	margin-top: 8px;
  	font-size: 15px;
  	color: #707070;
}

.buttons {
	margin-bottom: 15px;
	display: flex;
	justify-content: center;
	align-items: center
}

.button {
  	border: none;
  	color: white;
  	padding: 16px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	transition: transform 0.3s;
  	cursor: pointer;
	border-radius: 12px;
}

.button:hover {
	transform: scale(1.05);
}

@media (max-width: 600px) {
 	.header h1 {
    	font-size: 20px;
  	}

  	video {
    	width: 100%;
    	height: auto;
  	}
	
	.photos {
    	flex-direction: column;
    	align-items: center;
  	}
	
	.buttons {
		flex-direction: column;
    	align-items: center;
	}
}
